<!-- ======================================== -->
<!-- ================== CSS ================= -->
<!-- ======================================== -->
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    body, label{font: 14px "Avenir Next", sans-serif;color: #000000;}
    table {
        width: 100%;
        border-collapse: collapse;
    }
    .col1 {width:80%}
    .col2 {width:20%}
    th {
        background-color: rgb(218, 246, 255); /* Set the background color of table cells */
        padding-top: 5px; 
        padding-bottom: 5px; /* Add padding for better appearance */
      }
    a {cursor: pointer; color: #333; text-decoration: none;}
    a:visited {text-decoration: none;}
    a:hover {text-decoration: none;}
    button {color: #21618C; background-color: #FFFFFF; border: 0px;}
    button:hover {color: #000000; background-color: #f5f5f5 }
    input {horizontal-align: 30px;}
    div .col-md-10 {padding-right: 0px;}
    .w3-border{border:1px solid #ccc!important}
    .hidden {
        display: none;
      }
    .glyphicon-info-sign {font-size: 1.3em; color: #BCBCBC;}
    .panel {background-color: #f5f5f5; border: 0px;}
    .modal-header, .modal-footer { margin: 1px; font-size: 18px; font-weight: 600; }
    .modal-body {background-color: #FDFDFD; margin-left: 1px; }
    .footer {background-color: #f5f5f5; padding-top: 20px; }
    .fa-external-link, .fa-envelope-o, .fa-long-arrow-left {color: #2795c8;}
    .fa-print {font-size: 50px; color: #1e3a79;}
    .fa-paper-plane {font-size: 40px; color: #1e3a79;}
    .fa-download {font-size: 10px; color: #2795c8;}
    .fa-twitter-square { color: #1DA1F2; }
    .fa-linkedin { color: #0177B5; }
    .fa-envelope-square { color: #0166FF; }
    .fa-whatsapp { color: #01E676; }
    .fa-skype { color: #01AFF0; }
    .work-category {color: #606060;}
    .dropdown-submenu {position: relative;}
    .dropdown-submenu .dropdown-menu {top: 0; left: 100%; margin-top: -1px;}
    .dropdown-submenu:hover { background-color: #BCBCBC; }
    .intention { padding-left: 5px; }
    .comment-textarea { width: 94%; margin-left: 35px; min-height: 50px; resize: none;}
    .french-flag-description { visibility: hidden; }
    .french-flag:hover .french-flag-description { visibility: visible; }
    .watermark {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ccc; /* Set watermark color */
        font-size: 20px; /* Set watermark font size */
        opacity: 0.5; /* Set watermark opacity */
        pointer-events: none; /* Ensure watermark doesn't interfere with input */
        z-index: -1; /* Ensure watermark is behind other content */
      }
    #main-title {font-size: 40px; color: #2795c8;}
    #A-i-title {color: black;}
    #panel-heading-findable {background-image: none; background-color: #1e3a79; }
    #panel-title-findable {color: #FFFFFF;background-color: #1e3a79; font-size: 15px;}
    #panel-heading-accessible {background-image: none; background-color: #ffde1b; }
    #panel-title-accessible {color: #FFFFFF;background-color: #ffde1b; font-size: 15px;}
    #panel-heading-interoperable {background-image: none; background-color: #00a7d4; }
    #panel-title-interoperable {color: #FFFFFF;background-color: #00a7d4; font-size: 15px;}
    #panel-heading-reusable {background-image: none; background-color: #5c85c4; }
    #panel-title-reusable {color: #FFFFFF;background-color: #5c85c4; font-size: 15px;}
    #panel-heading-ethical {background-image: none; background-color: #5cc468; }
    #panel-title-ethical {color: #FFFFFF;background-color: #5cc468; font-size: 15px;}
    #panel-heading-reproducible {background-image: none; background-color: #c64ce1; }
    #panel-title-reproducible {color: #FFFFFF;background-color: #c64ce1; font-size: 15px;}
    #intro-box {border-style: solid; border-color: #1e3a79; border-radius: 15px; padding-left:15px; padding-bottom:10px; background-color: #f5f5f5;}
    #about-you {border-style: solid; border-color: #ffde1b; border-radius: 15px; padding-left:15px; padding-bottom:15px; background-color: #f5f5f5;}
    #comment-box {border-style: solid; border-color: #1e3a79; border-radius: 15px; padding-left:15px; padding-right:30px; padding-bottom:30px; background-color: #f5f5f5;}
    #comment-box li {padding-right:18px;}
    #image-f, #image-a, #image-i, #image-r, #image-e, #image-p {width: 100%; height:100%; padding-top: 10px; }
    #awareness-f, #awareness-a, #awareness-i, #awareness-r, #awareness-p,  #willingness-f, #willingness-a, #willingness-i, #willingness-r, #willingness-p { width: 15%; height: 15%; }
    #awareness-e { width: 13.1%; height: 13.1%; }
    #willingness-e { width: 14.1%; height: 14.1%; }
    #fairisfairteam { padding-left: 20px; }
    #show-summary a {color: #2795c8;}
    #logos img {
        width: 50%;
    }
    #subtitle {
        display: flex;
        align-items: center;
        /* Vertically center align */
    }
    #subtitle img {
        width: 100%;
    }
    #q13-image {width: 100%}
    #bottom-logo {width: 40%}
    @media (max-width: 768px) {
        div.col-md-2 {padding-left: 30px;}
        div.col-md-10 {padding-left: 30px;}
        .fa-print {font-size: 20px;}
        .fa-paper-plane {font-size: 20px;}
        .fa-download {font-size: 2px;}
        .intention { padding-left: 15px; }
        .comment { padding-left: 45px; }
        #image-f, #image-a, #image-i, #image-r , #image-e, #image-p {padding-top: 20px;}
    }
    @media (min-width: 768px) {
        div.col-md-2 {padding-left: 30px;}
        div.col-md-10 {padding-left: 30px;}
        .fa-print {font-size: 40px;}
        .fa-paper-plane {font-size: 30px;}
        #logos img {
            width: 100%;
        }
        #image-f, #image-a, #image-i, #image-r , #image-e, #image-p {padding-top: 20px;}
    }
    }
    @media (min-width: 1025px) {
        div.col-md-2 {padding-left: 10px;}
        div.col-md-10 {padding-left: 10px;}
        .fa-print {font-size: 40px;}
        .fa-paper-plane {font-size: 30px;}
    }
    @media print {.pagebreak { page-break-before: always; }}

</style>
